{% extends "layout.html" %}

{% block content%}
<h1>Violin Scale Generator</h1>
<p> Welcome to the RANDOM SCALE GENERATOR for violin. </p>
<p> This program will generate a scale in a random key and bowing pattern for you to practice.</p>

<form method="POST">
    <!--<select name="scales">
      <option value="beginner">Beginner</option>
      <option value="advanced">Advanced</option>
    </select>-->
    <button type="submit"> <a href="output"> Generate scale </a> </button>
    <!--<input type="submit">-->
</form>



{% endblock content %}
