{% extends "layout.html" %}

{% block content%}

    {% if new_scale %}
        <h1> Practise this scale:</h1>
        <h2> {{ new_scale }} </h2>
    {% endif %}

    <form method="POST">
        <!--<select name="scales">
          <option value="beginner">Beginner</option>
          <option value="advanced">Advanced</option>
        </select>-->
        <button type="submit"> <a href="output"> Generate scale </a> </button>
        <!--<input type="submit">-->
    </form>

{% endblock content %}
